<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
        <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Sign In</title>
</head>
<body id="login-body">
    <nav>
        <ul>
            {{#if admin}}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/home">Home</a></li>
            {{else}}
            <li><a href="/home">Home</a></li>
            {{/if}}
            <li><a href="/auth/register">Sign Up</a></li>
            {{#if user}}
            <li><a href="/auth/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
            
        </ul>
    </nav>
    <hr>
    <main>
    <h1>Sign In</h1>
        {{#if message}}
            <h4 style="color:red;">{{messageFail}}</h4>
            <h4 style="color:green;">{{messageSuccess}}</h4>
        {{/if}}
        <form action="/auth/login" method="POST">

            <label for="username">Username</label>
            <input type="text" id="username" name="username" >
            <br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" ><input type="checkbox" onclick="showPassword()">Show Password
            <br>
            <button type="submit">Sign In</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            
        </form>
        <script src="/js/visibility.js"></script>

        <br>
        <hr>
        <div id="g_id_onload"
            data-client_id="116240850493-sg7e4m7oigk1hmik8uee0ikrojshu6t6.apps.googleusercontent.com"
            data-login_uri="http://localhost:3000/auth/login"
            data-context="signin"
            data-auto_prompt="true"
            data-itp-support="true">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
        </div>
    </main>
</body>
</html>